cffi==1.14.4
chardet==4.0.0; python_version > '3.0'
click==7.1.2
cryptography==3.4.4
flask==1.1.2
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
pdfminer.six==20201018
pycparser==2.20
sortedcontainers==2.3.0
werkzeug==1.0.1
