<html>
<head>
  <title>Search</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/search.css') }}">
</head>
<body>

{% if allow_upload %}
<nav>
  <a title="Upload a new PDF" class="upload-link" href="/upload">+ Upload</a>
</nav>
{% endif %}

<form>
  <input type="text" name="s">
  <input type="submit" class="search" value="Search" formmethod="get">
</form>

<footer class="footer-info">
  There are actually <strong>{{ count_pdf }} </strong>pdfs uploaded here.<br>
</footer>

</body>
</html>

